.Entry {
  background-color: rgba(167, 157, 157, 0.829);
  border: 2px solid black;
}

.banner {
  background: yellow;
  display: flex;
  margin: 2px;
  justify-content: center;
  padding: 2px;
  border: 2px solid black;
  font-size: 2em;
  box-sizing: border-box;
}

.container {
  height: 45px;
  display: flex;
  flex-direction: row;
  background: gray;
  padding: 5px;
  margin: auto;
  border: 2px solid black;
}

.Navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 35%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

/* TODO Fix the div centering issue */

.item {
  display: flex;
  margin: 5px;
  justify-content: center;
  padding: 5px;
  border: 2px black solid;
}
