.root{
  /* display: flex; */
  align-items: safe;
}

.task-entry {
  background-color: rgba(167, 157, 157, 0.829);
  border: 2px solid black;
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 2px;
  justify-content: center;
}

.banner {
  background: rgba(52, 23, 9, 0.395);
  display: flex;
  margin: 2px;
  justify-content: center;
  padding: 2px;
  border: 2px solid black;
  font-size: 2em;
  box-sizing: border-box;
}

.container {
  height: 45px;
  display: flex;
  flex-direction: row;
  background: gray;
  padding: 5px;
  margin: auto;
  border: 2px solid black;
}

.Navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 82%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}


.item {
  display: flex;
  margin: 5px;
  justify-content: center;
  /* padding: 5px; */
  /* border: 2px black solid; */
}

#fname {
  border: 2px solid black;
}

#form-label {
  font-weight: bold;
}

.table-grid{
  background-color: beige;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 1%;

}

.task-table{
  display: flex;
  width: 204px;
  justify-content: center;
  background-color: brown;
  border-radius: 10px;
  margin: 5px;
}
