.Entry {
  background-color: blue;
}

.banner {
  background: yellow;
  /* position: relative; */
  display: flex;
  margin: 5px;
  justify-content: center;
  padding: 5px;
  border: 2px solid black;
  font-size: 2em;
}

.container {
  height: 45px;
  display: flex;
  flex-direction: row;
  background: gray;
  padding: 5px;
  margin: auto;
  border: 2px solid black;
}

.Navigator {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

/* TODO Fix the div centering issue */

.item {
  display: flex;
  margin: 5px;
  justify-content: center;
  padding: 5px;
  border: 2px black solid;
}


