@font-face {
  font-family: "Roboto-Bold";
  src: url("/resources/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/resources/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

body {
  background: #190e15;
}


nav {
  display: flex;
  background-color: #170e15;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo h1 {
  color: aqua;
  margin-left: 5px;
  font-family: Roboto-Bold;
  font-size: 4ch;
}

.page-nav button {
  background: none;
  border: none;
  color: #f2e6f3;
}

.task-entry {
  background-color: rgb(242, 230, 243);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: 40px;
  height: 40px;
  /* padding: 5px;  */
  margin: 2px;
  /* margin-left: 10px; */
  position: absolute;
  left: 2%;
  justify-content: center;
}

.banner {
  font-size: 18px;
  font-family: NotoSans;
  grid-column-start: -3;
  grid-column-end: -1;
  /* background-color: rgba(0, 0, 0, 0.057); */
  text-align: justify;
  padding-top: 1px
    /* justify-content: center */
  ;
  /* box-sizing: border-box; */
}



.item {
  display: flex;
  margin: 5px;
  justify-content: center;
  /* padding: 5px; */
  /* border: 2px black solid; */
}

#fname {
  border: 2px solid black;
}

#form-label {
  font-weight: bold;
}


.task-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b6abbf;
  border-radius: 10px;
  margin: 5px;
  width: 200px;
  padding: 5px;
  min-height: 200px;
  min-width: 200px;
}

.div-table-grid {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  padding: 1%;
}

.table-head {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-self: self-start; */
}

.table-head div {


  align-items: center;
}

.table-head button {
  border: none;
  background: none;
}

.table-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 20px;
  background-color: #a3879b;
  border-radius: 3px;
  margin: 2px;
  padding: 5px;
  text-align: left;
  font-family: Roboto-Regular;
}

.table-items:hover {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  min-height: 20px;
  background-color: #f452c6;
  border-radius: 3px;
  margin: 2px;
  padding: 5px;
  text-align: left;
  font-family: Roboto-Regular;

}

.task-fill {
  display: flex;
  justify-content: space-between;
}

.task-fill form {
  border: none;
  background: none;
}

.index-page-nav {
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px white solid;
  width: 200px;
  height: 100vh;
  position: fixed;
  
}

.index-page-nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-page-nav p {
  margin-left: 10px;
}

.index-page-nav button {
  height: 40px;
  width: 120px;
  margin: 15px;
}

.index-page-nav button:hover {
  background-color: #231f22;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #828182;
  
}

.index-page-nav a:hover {
  color: aqua;
}

.index-page-nav img {
  height: 20px;
}

