@font-face {
  font-family: "Roboto-Bold";
  src: url("/resources/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}


* {
  margin: 0;
  /* margin-left: 10px; */
  /* background-color: rgba(52, 51, 51, 0.37); */
}

body {
  background: #190e15;
}


nav {
  display: flex;
  background-color: #170e15;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo h1 {
  color: aqua;
  margin-left: 5px;
  font-family: Roboto-Bold;
  font-size: 4ch;
}

.page-nav button {
  background: none;
  border: none;
  color: #f2e6f3;
}

.task-entry {
  background-color: rgb(242, 230, 243);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: 40px;
  height: 40px;
  /* padding: 5px;  */
  margin: 2px;
  /* margin-left: 10px; */
  position: absolute;
  left: 2%;
  justify-content: center;
}

.banner {
  font-size: 18px;
  font-family: NotoSans;
  grid-column-start: -3;
  grid-column-end: -1;
  /* background-color: rgba(0, 0, 0, 0.057); */
  text-align: justify;
  padding-top: 1px /* justify-content: center */;
  /* box-sizing: border-box; */
}



.item {
  display: flex;
  margin: 5px;
  justify-content: center;
  /* padding: 5px; */
  /* border: 2px black solid; */
}

#fname {
  border: 2px solid black;
}

#form-label {
  font-weight: bold;
}


.task-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(99, 92, 92, 0.253);
  border-radius: 3px;
  margin: 5px;
  width: 200px;
  padding: 5px;
  min-height: 200px;
}

.div-table-grid {
  background-color: rgb(64, 37, 64);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
}

.table-head {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /* align-self: self-start; */
}

.table-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.table-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 20px;
  background-color: rgba(99, 92, 92, 0.253);
  border-radius: 3px;
  margin: 2px;
  padding: 5px;
  text-align: left;
}

.task-fill {
  display: flex;
  justify-content: space-between;
}

.new-table button {
  background: none;
  border: none;

}